{% extends 'base.html' %}

{% block content %}
{{error}}
<body>

    
    <div class="container mt-4">
        <a href="/incidenteslaborales/" class="text-dark text-decoration-none"><h1>Incidente laboral</h1></a>
    
        
    <a href="/incidenteslaborales/create/" class="btn btn-danger mt-3">Agregar Incidente laboral   </a>
    
    </div>
    
    <main class="container">
        <center><h1>Lista de incidentes laborales</h1></center>
        <div class="table-responsive rounded">
            <table class="table table-bordered table-striped rounded">
                <thead class="thead-dark">
                    <tr>
                        <th>Hora</th>
                        <th>Descripcion</th>
                        
                        
                        <th>Reportado por</th>
                        <th>Tipo Incidente</th>
                        {% if user.is_superuser or user.is_staff %}
                        <th>Detalles</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for incidentelaboral in incidenteslaborales %}
                    <tr>
                        <td>{{ incidentelaboral.horaIncidente }}</td>
                        <td>{{ incidentelaboral.descripcion }}</td>
                        
                        <td>{{ incidentelaboral.user.username }}</td>                    
                        <td>{{ incidentelaboral.tipoIncidente}}</td>
                        {% if user.is_superuser or user.is_staff %}
                        <td><a href="{% url 'incidentelaboral_detail' incidentelaboral.id %}">Detalles</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
    </main>
    
</body>
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #333;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #f8f9fa;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .rounded {
        border-radius: 1em; /* Ajusta el valor según el grado de ovalado que desees */
        overflow: hidden;
    }
    body {
        background-color: bisque;
        background-size: cover;
    }
</style>
{% endblock %}
