{% extends 'base.html' %}

{% block content %}
{{error}}
<body>
    <div class="container mt-4">

        <a href="/ordenes/" class="text-dark text-decoration-none"><h1>Ordenes</h1></a>
    
        <a href="/ordenes/create/" class="btn btn-danger mt-3">Agregar ordenes</a>

        <!-- Agregar campos de búsqueda -->
        <div class="mb-3">
            <label for="filtroCliente" class="form-label">Buscar por Cliente:</label>
            <input type="text" class="form-control" id="filtroCliente">
        </div>
        <div class="mb-3">
            <label for="filtroTipo" class="form-label">Buscar por Tipo de orden:</label>
            <input type="text" class="form-control" id="filtroTipo">
        </div>



    
    
    
        <div class="table-responsive rounded">
            <center><h1>Lista de ordenes</h1></center>
            <table id="tablaOrdenes" class="table table-bordered table-striped ">
                <thead class="thead-dark">
                    <tr>
                        <th>Total de orden</th>
                        <th>Cliente</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        
                        
                        <th>Creador</th>
                        <th>Detalles </th>
                    </tr>
                </thead>
                <tbody>
                    {% for orden in ordenes %}
                    <tr>
                        <td>{{ orden.totalOrden}}</td>
                        <td>{{ orden.idCliente}}</td>
                        <td>{{ orden.tipoOrden }}</td>
                        <td>{{ orden.fechaorden}}</td>
                        <td>{{ orden.descripcion }}</td>
                        
                        <td>{{ orden.user.username }}</td>                    
                        <td><a href="{% url 'orden_detail' orden.id %}">Detalles</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #333;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .btn-excel {
        background-color: white !important;
        color: black !important;
    }

    .btn-pdf {
        background-color: red !important;
        color: white !important;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #f8f9fa;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .rounded {
        border-radius: 1em; /* Ajusta el valor según el grado de ovalado que desees */
        overflow: hidden;
    }
    body {
        background-color: rgb(71, 220, 217);
        background-size: cover;
    }
    #tablaOrdenes_filter input[type="search"] {
            background-color: white;
            color: black;
        }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#tablaOrdenes').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Excel',
                    title: 'Tabla de Ordenes',
                    className: 'btn-excel', // Agregar esta clase para el botón de Excel
                    exportOptions: {
                        columns: [0, 1, 2, 3] // Columnas a exportar a Excel
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: 'PDF',
                    filename: 'tabla_ordenes',
                    title: 'Tabla de Ordenes',
                    className: 'btn-pdf', // Agregar esta clase para el botón de PDF
                    customize: function (doc) {
                        var totalCostos = calcularTotalCostos();

                        // Agregar la imagen y otros elementos personalizados al PDF...

                        doc.content.push({
                            text: 'Total de Costos Filtrados: $' + totalCostos,
                            margin: [0, 0, 20, 0],
                            alignment: 'right'
                        });

                        // Más código personalizado...
                    },
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ],
            select: true
        });

        $('#filtroCliente, #filtroTipo').on('keyup', function () {
            table
                .columns(1)
                .search($('#filtroCliente').val())
                .columns(2)
                .search($('#filtroTipo').val())
                .draw();
        });


        function calcularTotalCostos() {
            var totalCostos = 0;
            table.rows({ search: 'applied' }).data().each(function (value, index) {
                totalCostos += parseFloat(value[0]);
            });
            return totalCostos.toFixed(2);
        }
    });

    // ESTE CODIGO ESTA BIEN
</script>



{% endblock %}
